.footer__boton {
    color: #000000;
    padding: 10px 25px;
    margin-bottom: 1rem;
    background-color: $c-marron;
    color: $c-blanco;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-shadow: 2px 2px 4px $c-sombra;

    
    &:hover {
        background-color: $c-blanco;
        color:  $c-negro;
        text-shadow: 2px 2px 4px $c-sombra;
    }

}



