.conteiner-carrucel {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

@media (min-width: $desktop) {
    
    .conteiner-carrucel {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 1.5rem;
        margin-bottom: 2rem;

    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 75%;   
    }

}