nav {
    display: flex;
    align-items: center;
    justify-content: center; 
    
    a {
        color: $c-negro;
        font-weight: bold;  
                
        &:hover {
            color: $c-naranja;
            font-weight: bold;
            transform: scale(2.2);
            transition: transform 0.3s ease;
        }
    } 

}